.container {
  width: 60%;
  margin: 0 auto;
  color: #6c6c6c;
  padding: 10px 0 25px 0;
}

.logo {
  background-image: url('../../assets/logo.png');
  background-size: 100% 100%;
  width: 228px;
  height: 63px;
}

.title {
  padding: 5px 0 10px 0;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.items{
  border: 1px black solid;
  padding: 0 15px;
}
.input{
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
}

.inputNumber {
  width: 100%;
}


.select {
  width: 100%;
}

.datePicker {
  width: 100%;
}

.contentSection{
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.contentSectionHeader{
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 0;
}

.date {
  width: 30%;
  margin: 0 auto;
}

.content_header>span:nth-child(1) {
  font-size: 20px;
  font-weight: bold;
}

.day {
  padding-left: 600px;
}

.note {
  width: 187%;
  position: relative;
  left: 2px;
}

.footer {
  margin-top: 30px;
  margin-left: 0;
  padding: 0 20px;
  color: white;
}
