.container {
    width: 100%;
    min-height: 100%;
    /* background: #4f5b75; */
    overflow: hidden;
    color: red;
}

.logo {
    width: 200px;
    height: 80px;
    
    background-size: 100%;
}

.content {
    width: 50%;
    margin: 0 auto;
}

.title {
    text-align: center;
}

.biaoti {
    font-size: 30px;
    font-weight: 900;
}

.neirong {
    border: 2px solid red;
}

.baocun {
    margin-left: 300px;
    margin-top: 20px;
}
