.shoquauanshu {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.content {
    width: 45%;
    margin: 0 auto;
}

.neiron {
    margin-top: 50px;
}

.fenghan {
    font-size: 25px;
    font-weight: 400px;
}

.input {
    display: inline-block;
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
}

.zhihang {
    font-size: 25px;
    font-weight: 400px;
    margin-left: 20px;
}

.duanluo {
    font-size: 21px;
    margin-top: 20px;
}

.mowei {
    font-size: 21px;
}

.fujin {
    margin-left: 45px;
}

.gonzhang {
    font-size: 21px;
    margin: 70px 0 0 750px;
    display: inline-block;
}

.Date {
    width: 30%;
    margin-top: 20px;
    margin-left: 655px;
}

.footer {
    text-align: center;
}

.yangshi {
    font-size: 21px
}

.shouquan {
    margin-left: 50px;
}

.input1 {
    width: 50%;
    display: inline-block;
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
}

.gou {
    font-size: 21px;
}

.input2 {
    margin-left: 147px;
    margin-top: 46px;
    display: inline-block;
}

/*.zhihang {
    width: 20%;
    margin: -35px 0 0 205px;
}

.kmfh {
    width: 22%;
    font-size: 25px;
    font-weight: bold;
}

.zhihang1 {
    width: 8%;
    font-size: 25px;
    font-weight: bold;
    margin: -55px 0 0 400px;
}

.shouquan {
    font-size: 21px;
    width: 56%;
    margin: 10px 0 0 51px;
}

.NAME {
    width: 20%;
    margin: -35px 0 0 580px;
}

.shouquanren {
    font-size: 21px;
    margin: -50px 0 0 780px;
}

.SFZ {
    font-size: 21px;
}

.shuruSFZ {
    width: 20%;
    margin: -36px 0 0 118px;
}

.fenhao {
    margin: -40px 0 0 310px;
}

.SJH {
    font-size: 21px;
    margin: -55px 0 0 320px;
}

.shuruSJH {
    width: 20%;
    margin: -39px 0 0 415px;
}

.banli {
    font-size: 21px;
    margin-left: 605px;
    margin-top: -39px;
}

.banli2 {
    font-size: 21px;
}

.qita {
    width: 80%;
    margin: -40px 0 0 60px;
}

.dagou{
    font-size: 21px;
}*/