.container {
  width: 60%;
  margin: 0 auto;
  color: #6c6c6c;
  padding: 10px 0 25px 0;
}

.logo {
  background-image: url('../../assets/logo.png');
  background-size: 100% 100%;
  width: 228px;
  height: 63px;
}

.title {
  padding: 5px 0 10px 0;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.formItem{
  display: inline-block;
}

.input {
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
}

.inputNumber {
  width: 100%;
}

.datePicker {
  width: 100%;
}

.date {
  width: 30%;
  margin: 0 auto;
}
.neiron {
  margin-top: 50px;
}

.fenghan {
  font-size: 25px;
  font-weight: 400px;
}

.input {
  display: inline-block;
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
}

.zhihang {
  font-size: 25px;
  font-weight: 400px;
  margin-left: 20px;
}

.duanluo {
  font-size: 21px;
  margin-top: 20px;
}

.mowei {
  font-size: 21px;
}

.fujin {
  margin-left: 45px;
}

.gonzhang {
  font-size: 21px;
  margin: 70px 0 0 750px;
  display: inline-block;
}


.yangshi {
  font-size: 21px
}

.shouquan {
  margin-left: 50px;
}

.input1 {
  width: 50%;
  display: inline-block;
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
}

.input2 {
  margin-left: 147px;
  margin-top: 46px;
  display: inline-block;
}

.footer {
  margin-top: 30px;
  padding: 0 20px;
  color: white;
}
