.container {
  width: 60%;
  margin: 0 auto;
  color: #6c6c6c;
  padding: 10px 0 25px 0;
}

.logo {
  background-image: url('../../assets/logo.png');
  background-size: 100% 100%;
  width: 228px;
  height: 63px;
}

.title {
  padding: 5px 0 10px 0;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.input {
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
}

.inputNumber {
  width: 100%;
}

.datePicker {
  width: 100%;
}

.date {
  width: 30%;
  margin: 0 auto;
}

.accounttitle1 {
  border-bottom: 1px black solid;
}

.border {
  border: 1px black solid;
}

.bankname1 {
  border-bottom: 1px black solid;
}

.bankcode {
  border-bottom: 1px black solid;

}

.account {
  border-bottom: 1px black solid;

}

.naturezccount1 {
  border-bottom: 1px black solid;
}

.accountnumber1 {
  border-bottom: 1px black solid;
}

.pinreasons1 {
  border-bottom: 1px black solid;
}

.dbk {
  width: 50%;
  border: 1px solid black;
  border-right-color: transparent;
  float: left;
}

.ckrqz {
  padding: 27px 100px 18px 100px;
}

.nyr {
  padding: 27px 100px 18px 100px;
}

.khyhbk {
  float: left;
}

.voucher1 {
  border-bottom: 1px black solid;
}

.footer {
  margin-top: 30px;
  padding: 0 20px;
  color: white;
}
