.container {
    width: 100%;
    min-height: 100%;
    overflow: hidden
}
hr{
    margin: 0;
}
.header{
    margin-left: 380px;
}
.content {
    width: 50%;
    margin: 0 auto;
}

.content>header>span:nth-child(1) {
   font-size: 20px;
   font-weight: bold;
}
.title {
    font-size: 30px;
    font-weight: bold;
    margin: 17px;
    text-align: center;
}
.content1{
    height: 888px;
    margin-bottom: 10px;
    border: 1px solid black;
}
.service{
    background: #bbb;
    height: 42px;
    line-height: 42px;
    font-size: 17px;
    text-align: center;
}
.label_1 {
    height: 50px;
    font-size: 29px;
    border-bottom: 1px solid black;
}
.onSubmit_hr{
font-size: 20px;
font-weight: bold;
margin-left: 16px;
}

/* 公章 */
.cachet1,
 .cachet2 {
    width: 50%;
    height: 274px;
}
.cachet1{
    float: left;
    border-right: 1px solid #bbb;
}
.cachet2{
    float: right;
}
.cachet1>header,
.cachet2>header{
  
    height: 181px;
    margin-left: 16px;
}
.cachet1>span:nth-child(2){
    margin-left: 16px;
}
.cachet1>span:nth-child(4)
{
    display: block;
    margin-top: 16px;
    margin-left: 16px;
}
.cachet2>span:nth-child(2){
    margin-left: 16px;
    margin-bottom: 16px;
    display: inline-block;
}
.cachet2>span:nth-child(4){
    margin-left: 16px;
    margin-top: 16px;
    margin-right: 115px;
}
