.clearfix:after {
    clear: both;
    height: 0;
    content: "";
    display: block;
    visibility: hidden;
}

.logo {
    background-image: url('./timg.jpg');
    background-size: 155px;
    width: 155px;
    height: 66px;
    float: left;
}

.container {
    width: 55%;
    margin: 0 auto;
}

.biaoti {
    float: left;
    font-size: 37px;
    margin: 10px 240px 10px 150px;
}

.waikuan {
    border: 1px solid;
    display: inline-block;
    width: 100%;
}

.kehukuan {
    border-bottom: 1px solid;
}

.kehukj {
    width: 70%;
}

.kehutianxie {
    border-right: 1px solid;
    text-align: center;
    display: flex;
    height: 173px;
}

.juzhong {
    display: inline-block;
    align-self: center;
    margin: 0 auto;
}

.padd {
    padding: 10px;
    padding-left: 33px;
}