.clearfix:after {
  clear: both;
  height: 0;
  content: "";
  display: block;
  visibility: hidden;
}

.container {
  width: 60%;
  margin: 0 auto;
  color: #6c6c6c;
}

.logo {
  background-image: url('../../assets/logo.png'); */
   background-size: 100% 100%;
  width: 228px;
  height: 63px; 
}

.title {
  padding: 5px 0 10px 0;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.input {
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
}

.inputNumber {
  width: 100%;
}

.datePicker {
  width: 100%;
}

.date {
  width: 30%;
  margin: 0 auto;
}

.waikuan {
  border: 1px solid;
  display: inline-block;
  width: 100%;
}

.kehukuan {
  border-bottom: 1px solid;
}

.kehukj {
  width: 70%;
}

.kehutianxie {
  border-right: 1px solid;
  text-align: center;
  display: flex;
  height: 173px;
}

.juzhong {
  display: inline-block;
  align-self: center;
  margin: 0 auto;
}

.padd {
  padding: 10px;
  padding-left: 33px;
}

.footer {
  margin-top: 30px;
  padding: 0 20px;
  color: white;
}
