.zxxet{
    width: 10%;
    min-height: 10%;
    font-size: 10px;
    padding-left:500px;
}

.fl{
    width: 10%;
    min-height: 10%;
    font-size: 10px;
    padding-left:2px;

}

.clearfix{
    clear: both;
}

.container {
    width: 100%;
    min-height: 100%;
    background:white;
    overflow: hidden;
  }

  .content {
    width: 50%;
   margin: 0 auto;
  }

  .zxyh {
    width: 50%;
    font-size: 22px;
   margin: 0 auto;
  }

  .czry {
    width: 100%;
    display: inline-block;
    text-align: left;
    font-size: 15px;
    border-bottom: 1px black solid;
    background: darkgray;
  }

  .zbk{
      border: solid 1px;
  }

  .customername{
    width: 100%;
    display: inline-block;
  }

  .content{
    font-size: 20px;
   
  }

  .wtrxx{
    width: 50%;
    border-bottom: 1px black solid;
    border-top: 1px black solid;
    border-right: 1px black solid;
    
  }

  .dlrxx{
    width: 50%;
    font-size: 20px;
    border-left-color: transparent;
  }
  .contentborder{
      width: 100%;
  }
  .biankuang{
    width: 50%;
    border: 1px solid black;
    border-left-color: transparent;
    float: left;
  }
  .rightborder{
    width: 50%;
    border: 1px solid black;
    border-right-color: transparent;
    float: left;
    height: 252px;
    border-left-color: transparent;
    padding-top: 27px;
  }
  .contentborder1{
      width: 100%;
      margin-top: 269px;
  }
  .agentinformation1{
    width: 50%;
    border-bottom: 1px black solid;
    border-right: 1px black solid;
    border-left-color: transparent;
    float: left;
  }
  .hint{
    width: 50%;
    font-size: 20px;
    float: left;
    position: relative;
    top: 90px;
    border-bottom: 1px black solid;
    padding-bottom: 129px;
  }
  .btn{
      clear: both;
      position: absolute;
      top: 1000px;
      left: 728px;
  }
  .tishi{
      font-size: 20px;
      font-weight: bold;
  }
  
  .zhbk{
      width: 100%;
      border-bottom: 1px black solid;
      border-right: 1px black solid;
      float: left;
  }
  .debk{
      width: 50%;
      border-right:1px black solid; 
      float: left;
  }
  .dwgz{
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 250px;
      margin-top: 10px;
      margin-left: 5px;
  }
  .day{
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
  }
  .dybk{
      font-size: 20px;
      margin-bottom: 198px;
      font-weight: bold;
      margin-top: 10px;
      margin-left: 5px;
  }
  .jb{
      font-size: 20px;
      font-weight: bold;
      margin-top: 10px;
      margin-left: 5px;
      margin-bottom: 10px;
  }

  .sgfd{
      float: left;
  }
  .fh{
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
  }
  .day2{
    font-size: 20px;
    font-weight: bold;
    float: right;
    margin-top: -25px;
  }
