.container {
  width: 60%;
  margin: 0 auto;
  color: #6c6c6c;
  padding: 10px 0 25px 0;
}

.logo {
  background-image: url('../../assets/logo.png');
  background-size: 100% 100%;
  width: 228px;
  height: 63px;
}

.title {
  padding: 5px 0 10px 0;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.input {
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
}

.inputNumber {
  width: 100%;
}

.datePicker {
  width: 100%;
}

.date {
  width: 30%;
  margin: 0 auto;
}



.czry {
  width: 100%;
  display: inline-block;
  text-align: left;
  font-size: 15px;
  background: darkgray;
}

.customername {
  width: 100%;
  display: inline-block;
}
.items{
  border: 1px black solid;
  padding: 0 10px;
}
.content {
  font-size: 20px;
}

.wtrxx {
  width: 50%;
  border-bottom: 1px black solid;
  border-top: 1px black solid;
  border-right: 1px black solid;

}

.dlrxx {
  width: 50%;
  font-size: 20px;
}

.contentborder {
  width: 100%;
}



.contentborder1 {
  width: 100%;
  margin-top: 269px;
}

.btn {
  clear: both;
  position: absolute;
  top: 1000px;
  left: 728px;
}

.tishi {
  font-size: 20px;
}


.sectionTitle {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 5px;
}

.day {
  font-size: 20px;
  font-weight: bold;
  margin-left: 5px;
}

.dybk {
  font-size: 20px;
  margin-bottom: 198px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 5px;
}

.jb {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 10px;
}


.fh {
  font-size: 20px;
  font-weight: bold;
  margin-left: 5px;
}

.day2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: -25px;
}


.footer {
  margin-top: 30px;
  padding: 0 20px;
  color: white;
}
